<div class="main-popular">
    <h2>Populares</h2>
    <div class="cente ">
        <div class="content-item">
            <img src="../../../assets/img/the-witcher-3-wild-hunt-201551495951_1b.jpg" alt="">
            <p class="container-text">Doom</p>
        </div>
        <div class="content-item">
            <img src="../../../assets/img/world-of-warcraft-classic-201982320364959_1b.jpg" alt="">
            <p class="container-text">Forza horizon</p>
        </div>
        <div class="content-item">
            <img src="../../../assets/img/forza-horizon-4-2018102103227_1b.jpg" alt="">
            <p class="container-text">Divinity</p>
        </div>
        <div class="content-item">
            <img src="../../../assets/img/microsoft-flight-simulator-202071710363689_1b.jpg" alt="">
            <p class="container-text">GTA V</p>
        </div>
    </div>
</div>