<div class="main-favorites">
    <h2>Faboritos</h2>
    <div class="cente ">
        <div class="content-item">
            <button (click)="navegarHaciaPosts"></button>
            <img src="../../../assets/img/doom-eternal-2018618194333_1b.jpg " alt=" ">
            <p class="container-text ">Doom</p>
        </div>
        <div class="content-item ">
            <button (click)="navegarHaciaPosts() ">Leer mas</button>
            <img src="../../../assets/img/forza-horizon-4-2018102103227_1b.jpg " alt=" ">
            <p class="container-text ">Forza horizon</p>
        </div>
        <div class="content-item ">
            <button (click)="navegarHaciaPosts() "></button>
            <img src="../../../assets/img/divinity-original-sin-ii-20185918121_1b.jpg " alt=" ">
            <p class="container-text ">Divinity</p>
        </div>
        <div class="content-item ">
            <button (click)="navegarHaciaPosts() "></button>
            <img src="../../../assets/img/grand-theft-auto-v-2015413122229_1b.jpg " alt=" ">
            <p class="container-text ">GTA V</p>
        </div>

    </div>
</div>