<div class="main-recent">
    <h2>Recientes</h2>
    <div class="cente ">
        <div class="content-item">
            <img src="../../../assets/img/microsoft-flight-simulator-202071710363689_1b.jpg" alt="">
            <p class="container-text">Doom</p>
        </div>
        <div class="content-item">
            <img src="../../../assets/img/red-dead-redemption-2-2019101812583956_1b.jpg" alt="">
            <p class="container-text">Forza horizon</p>
        </div>
        <div class="content-item">
            <img src="../../../assets/img/sid-meiers-civilization-vi-2016511172747_1b.jpg" alt="">
            <p class="container-text">Divinity</p>
        </div>
        <div class="content-item">
            <img src="../../../assets/img/star-wars-jedi-fallen-order-20198231284940_1b.jpg" alt="">
            <p class="container-text">GTA V</p>
        </div>
    </div>
</div>